.product{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px 35px;
    box-shadow: 0 10px 80px rgba(0, 0, 0, 0.0635);
    width: 70rem;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-size: 20px;
}
.product p{
    width: 300px;
}
.button{
    color:#6d28d9;
    background-color: #fff;
    border: 1px solid #6d28d9;
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    width: 40px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete{
    width: 80px;
}
.inc{
    background-color:#ede9fe;
}
.value{
    display: flex;
    width: 30px;
    height: 30px;
    background-color:#ede9fe;
    color: #6d28d9;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    /* display: inline-block; */
}

.decr{
    background-color: #F87171;
    font-size:20px;
    width: 40px;
    height: 44px;
    padding: 0;
}

.input{
    outline: none;
    border: 1px solid #6d28d9;
    border-radius: 5px;
    padding: 5px 2px;
    color: #6d28d9;
    font-size: 18px;

}
.input:focus{
     border: 2px solid #6d28d9;
}
