.container{
   width: 100%;
   height: 100vh;
   background-color: #ffff;
    /* margin: auto ; */
   display: flex;
   align-items: center;
   flex-direction: column;
   /* justify-content:center; */
   margin-top:50px;
}